# ---------------------------------------------------------------------------
# Build & Gradle Files
# ---------------------------------------------------------------------------
.gradle/
build/
*/build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# ---------------------------------------------------------------------------
# IDE
# ---------------------------------------------------------------------------
.idea/
*.iml
*.iws
*.ipr
local.properties

# ---------------------------------------------------------------------------
# OS Specific Files
# ---------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# ---------------------------------------------------------------------------
# NDK / C++
# ---------------------------------------------------------------------------
.cxx/
*.so
obj/

# ---------------------------------------------------------------------------
# SECURITY & SECRETS
# ---------------------------------------------------------------------------
# Keystore ve imza dosyaları
*.jks
*.keystore
*.p12
*.key
*.pem

# Firebase veya Google Cloud API config dosyaları
google-services.json

# custom properties dosyaları
secrets.properties
apikeys.properties
env.properties
